streamlit==1.41.1
dlib
numpy==2.0.2
opencv-python-headless==4.7.0.72  # Example (make sure to pick a working version)
face-recognition==1.3.0
scipy==1.13.1 # Compatible with Python 3.10
torch==2.5.1
torchvision==0.20.1
-f https://download.pytorch.org/whl/cpu
scikit-learn==1.6.1
matplotlib==3.9.4
reportlab == 4.2.5
requests==2.32.3
bleak
uuid==1.30

